*{
	padding: 0;
	margin: 0;
	font-family: Titilium Web, sans-serif;
}
/****HEADER****/

header {
	background-color: #87509c;
	text-align: center;
}
header .headerSection {
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
h1 {
	font-size: 70px;
	font-family: Titillium Web, sans-serif;
	font-weight: 900;
	color: #fff;
	display: inline-block;
	position: absolute;
	left: 62px;
	top: 55px;
}
a {
	text-decoration: none;
}
nav ul li {
	list-style: none;
	display: inline-block;
	width: 82px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	margin: 0 10px;
}
nav ul li:hover {
	background-color: #643a79;
	border-radius: 5px;
}
nav li a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
nav {
	display: flex;
	position: absolute;
	right: 42px;
	top: 60px;
}
header p {
	font-size: 26px;
	color: #fff;
	padding-top: 238px;
}
header button {
	width: 295px;
	height: 65px;
	background-color: #eb7d4b;
	border: none;
	box-shadow: inset 0 -5px 0 0 #c86a40;
	cursor: pointer;
	margin: 60px 0 145px 0;
	border-radius: 4px;
	outline: none;
}
header button>a {
	color: #fff;
	text-transform: uppercase;
}
header button:active {
	box-shadow: 0 5px #c86a40;
	transform: translateY(4px);
}

@media (max-width: 960px) {
	header .headerSection {
		width: 700px;
	}
	nav li a {
		font-size: 14px;
	}
	nav ul li {
		margin: 0;
	}
	h1 {
		left: 0px;
	}
}
@media (max-width: 700px) {
	h1 {
		font-size: 50px;
		left: 30px;
		top: 0px;
	}
	nav {
		top: 100px;
		right: 20px;
	}
	
	header .headerSection {
		width: 480px;
	}
}



/****SECTION SERVICES****/

.services h2{
	padding-top: 115px;
	text-transform: uppercase;
	font-size: 40px;
}
.services-wrapper {
	width: 1140px;
	margin: 0 auto;
}
.services-wrapper>p {
	margin-top: 30px;
}
.services {
	height: 750px;
	background-color: #17c2a4;
	color: #fff;
	text-align: center;
}
.services-wrapper>div {
	display: flex;
	flex-wrap: wrap;
}
.services-wrapper>div>div {
	width: 220px;
	margin-left: 50px;
	margin-top: 80px;
}
.services-wrapper>div>div p {
	font-size: 14px;
	margin-top: 25px;
	line-height: 22px;
}
.services-wrapper>div>div h3 {
	margin-top: 40px;
	text-transform: uppercase;
}

@media (max-width: 960px) {
	.services-wrapper>div>div img {
		width: 60px;
		height: 80px;
	}
	.services-wrapper {
		width: 700px;
	}
	.services-wrapper>div>div p {
		font-size: 12px;
		margin-top: 10px;
	}
	.services-wrapper>div>div {
		margin-top: 40px;
	}
}
@media (max-width: 700px) {
	.services-wrapper {
		width:480px;
	}
	.services-wrapper>div>div {
		margin-left: 20px;
	}
	.services h2{
	font-size: 30px;
	}
}

	/***team***/

.team {
	background-color: #e7f1f8;
	color: #3c4761;
	text-align: center;
}
.team .wrapper-team{
	width: 1140px;
	margin: 0 auto;
}
.team .wrapper-team .photo img {
	width: 200px;
	height: 200px;
}
.team .wrapper-team>div {
	display: flex;
	margin-top: 80px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team .wrapper-team>div>div {
	width: 200px;
}
.team h2{
	padding-top: 115px;
	text-transform: uppercase;
	font-size: 40px;
}
.team .wrapper-team>p {
	font-size: 18px;
}
.team h3 {
	text-transform: uppercase;
	padding-top: 40px;
}
.team p {
	padding-top: 20px;
	line-height:  25px;
}
.team a {
	color: #55c2e9;
	line-height: 40px;
}

<<<<<<< HEAD
=======
.team .wrapper-team .blok>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0 125px 0;
}
.team .wrapper-team .blok>div>div {
	margin: 0 6px 0 6px;
}
@media (max-width: 960px){
	.team .wrapper-team {
		width: 480px;
	}
}
>>>>>>> team
