*{
	padding: 0;
	margin: 0;
	font-family: 'Titillium Web',sans-serif;
}
h2{
	text-transform: uppercase;
	font-size: 40px;
}
a{
	text-decoration: none;
}
.section_header{
	max-width: 540px;
	text-align: center;
}
.section_header > h2{
	margin-top: 120px;
}
.section_header > p{
	font-size: 18px;
}
.line{
	width: 85px;
	height: 5px;
	margin: 20px auto;
}
.bgc{
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
.people-say{
	color: #FFFFFF;
	background-color: #D74680FF;
}
.people-say .line{
	background-color: #B73C6DFF;
}
.people-say .quotes{
	margin-top: 70px;
	width: 100%;
	display: flex;
	flex-flow:  row wrap ;
	justify-content: space-between;
}
.people-say .quotes .cont{
	text-align: center;
	flex-grow: 1;
	flex-basis: 370px;
	display: flex;
	max-width: 540px;
	margin: 3px;
}
.people-say .quotes .box{
	margin-bottom: 140px ;
	padding-left: 45px;
	padding-right: 60px;
	width: calc(100% - 100px);
	text-align: left;
}
.people-say .quotes .cont .img {
	margin-left: 10px;
	width: 100px;
	height: 100px;
	border-radius:50%;
	background-image: url('../img/icon.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
}
.people-say .quotes .box p:nth-child(1){
	font-style: italic;
}
.people-say .quotes .box p:nth-last-child(1){
	color: #FFDD99FF;
}
.people-say .quotes .box h3{
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 24px;
	text-transform: uppercase;
}

@media (max-width: 766px){
	.portfolio .laptops{
		justify-content: center;
		margin: 0 20px;
	}
	.people-say .quotes{
		justify-content: center;
		margin: 0 20px;
	}
	.people-say .quotes .cont{
		flex-flow: wrap;
		justify-content: center;
	}
	.people-say .quotes .box{
		margin-top: 10px;
		text-align: center;
	}
}