*{
	padding: 0;
	margin: 0;
	font-family: Titilium Web, sans-serif;
}
/****HEADER****/

header {
	background-color: #87509c;
	text-align: center;
}
header .headerSection {
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
h1 {
	font-size: 70px;
	font-family: Titillium Web, sans-serif;
	font-weight: 900;
	color: #fff;
	display: inline-block;
	position: absolute;
	left: 62px;
	top: 55px;
}
a {
	text-decoration: none;
}
nav ul li {
	list-style: none;
	display: inline-block;
	width: 82px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	margin: 0 10px;
}
nav ul li:hover {
	background-color: #643a79;
	border-radius: 5px;
}
nav li a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
nav {
	display: flex;
	position: absolute;
	right: 42px;
	top: 60px;
}
header p {
	font-size: 26px;
	color: #fff;
	padding-top: 238px;
}
header button {
	width: 295px;
	height: 65px;
	background-color: #eb7d4b;
	border: none;
	box-shadow: inset 0 -5px 0 0 #c86a40;
	cursor: pointer;
	margin: 60px 0 145px 0;
	border-radius: 4px;
	outline: none;
}
header button>a {
	color: #fff;
	text-transform: uppercase;
}
header button:active {
	box-shadow: 0 5px #c86a40;
	transform: translateY(4px);
}

@media (max-width: 960px) {
	header .headerSection {
		width: 700px;
	}
	nav li a {
		font-size: 14px;
	}
	nav ul li {
		margin: 0;
	}
	h1 {
		left: 0px;
	}
}
@media (max-width: 700px) {
	h1 {
		font-size: 50px;
		left: 30px;
		top: 0px;
	}
	nav {
		top: 100px;
		right: 20px;
	}
	
	header .headerSection {
		width: 480px;
	}
}



/****SECTION SERVICES****/

.services h2{
	padding-top: 115px;
	text-transform: uppercase;
	font-size: 40px;
}
.services-wrapper {
	width: 1140px;
	margin: 0 auto;
}
.services-wrapper>p {
	margin-top: 30px;
}
.services {
	height: 750px;
	background-color: #17c2a4;
	color: #fff;
	text-align: center;
}
.services-wrapper>div {
	display: flex;
	flex-wrap: wrap;
}
.services-wrapper>div>div {
	width: 220px;
	margin-left: 50px;
	margin-top: 80px;
}
.services-wrapper>div>div p {
	font-size: 14px;
	margin-top: 25px;
	line-height: 22px;
}
.services-wrapper>div>div h3 {
	margin-top: 40px;
	text-transform: uppercase;
}

@media (max-width: 960px) {
	.services-wrapper>div>div img {
		width: 60px;
		height: 80px;
	}
	.services-wrapper {
		width: 700px;
	}
	.services-wrapper>div>div p {
		font-size: 12px;
		margin-top: 10px;
	}
	.services-wrapper>div>div {
		margin-top: 40px;
	}
}
@media (max-width: 700px) {
	.services-wrapper {
		width:480px;
	}
	.services-wrapper>div>div {
		margin-left: 20px;
	}
	.services h2{
	font-size: 30px;
	}
}

	/***team***/

.team {
	background-color: #e7f1f8;
	color: #3c4761;
	text-align: center;
}
.team .wrapper-team{
	width: 1140px;
	margin: 0 auto;
}
.team .wrapper-team .photo img {
	width: 200px;
	height: 200px;
}
.team .wrapper-team>div {
	display: flex;
	margin-top: 80px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team .wrapper-team>div>div {
	width: 200px;
}
.team h2{
	padding-top: 115px;
	text-transform: uppercase;
	font-size: 40px;
}
.team .wrapper-team>p {
	font-size: 18px;
}
.team h3 {
	margin-top: 40px;
	text-transform: uppercase;
}
.team p {
	padding-top: 20px;
	line-height:  25px;
}
.team a {
	color: #55c2e9;
	line-height: 40px;
}
.team .wrapper-team .blok .icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0 125px 0;
}
.team .wrapper-team .blok .icons>div {
	margin: 0 6px 0 6px;
}
@media (max-width: 960px){
	.team .wrapper-team {
		width: 480px;
	}
}

	/***Skills***/
.skills .wrapper-skills {
	width: 1140px;
	margin: 0 auto;
}
.skills {

	color: #3c4761;
	text-align: center;
}
.skills h2 {
	padding-top: 115px;
	text-transform: uppercase;
	font-size: 40px;
}
.skills .wrapper-skills>p {
	font-size: 18px;
	margin-top: 30px;
}
.diagrams {
	margin-top: 80px;
	margin-bottom: 115px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.diagrams>div {
	display: inline-block;
}
.diagrams h3 {
	text-transform: uppercase;
	padding-top: 30px;
}
.diagramOne {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	background-color: #30bae7;
	font-size: 44px;
	line-height: 160px;
}
.sector {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    transform-origin: right bottom;
    background: #dfe8ed;
    transform: skew(60deg);
}
.diagramOne:after {
	content: '90%';
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: #fff;
	border-radius: 50%;
	top: 20px;
	left: 20px;
}

.diagramTwo {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	background-color: #d74680;
	font-size: 44px;
	line-height: 160px;
}
.sectorTwo {
	width: 50%;
    height: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    transform-origin: right bottom;
    background: #dfe8ed;
    transform: skew(5deg);
}
.diagramTwo:after {
	content: '75%';
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: #fff;
	border-radius: 50%;
	top: 20px;
	left: 20px;
}
.diagramThree {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	background-color: #15c7a8;
	font-size: 44px;
	line-height: 160px;
}
.sectorThree {
	width: 50%;
    height: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    transform-origin: right bottom;
    background: #dfe8ed;
    transform: skew(-5deg);
}
.diagramThree:after {
	content: '70%';
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: #fff;
	border-radius: 50%;
	top: 20px;
	left: 20px;
}
.diagramFour {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	background-color: #eb7d4b;
	font-size: 44px;
	line-height: 160px;
}
.sectorFour {
	width: 50%;
    height: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    transform-origin: right bottom;
    background: #dfe8ed;
    transform: skew(30deg);
}
.diagramFour:after {
	content: '85%';
	position: absolute;
	width: 80%;
	height: 80%;
	background-color: #fff;
	border-radius: 50%;
	top: 20px;
	left: 20px;
}
@media (max-width: 960px){
	.skills .wrapper-skills {
		width: 480px;
	}
	.diagramThree, .diagramFour {
		margin-top: 40px;
	}
}
h2{
	text-transform: uppercase;
	font-size: 40px;
}
a{
	text-decoration: none;
}
.section_header{
	max-width: 540px;
	text-align: center;
}
.section_header > h2{
	margin-top: 120px;
}
.section_header > p{
	font-size: 18px;
}
.line{
	width: 85px;
	height: 5px;
	margin: 20px auto;
}

.portfolio {
	background-color: #FFDD99FF;
	width: 100%;
}
.bgc{
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
.portfolio .Our_pordfolio > h2{
	color: #393939FF;
}
.portfolio .line{
	background-color: #E0BF7CFF;
}
.portfolio .Our_pordfolio > p{
	color: #393939FF;
}
.portfolio .Our_pordfolio > ul{
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style-type: none;
	margin: 40px 0px 50px 0px;
}
.portfolio .Our_pordfolio > ul li{
	margin: 20px 5px ;
}
.portfolio .Our_pordfolio > ul li a{
	text-transform: uppercase;
	border-radius: 3px;
	color: #393939;
	background-color: #DDBD7DFF;
	padding: 10px 25px;
}
.portfolio .Our_pordfolio .active{
	background-color: #FFFFFFFF;
}
.portfolio .laptops{
	width: 100%;
	display: flex;
	flex-flow:  row wrap ;
	justify-content: space-between;
}
.portfolio .laptops .cont {
	text-align: center;
	flex-grow: 1;
	flex-basis: 370px;
	max-width: 540px;
	margin: 3px;
}
.portfolio .laptops .cont p{
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 60px;
}
.portfolio .laptops .cont img{
	width: 100%;
}
.portfolio .btn{
	text-transform: uppercase;
	box-shadow: 0px 3px 1px rgba(20, 165, 140, 1);
	border-radius: 4px;
	font-size: 18px;
	padding: 25px 55px;
	background-color: #17C2A4FF;
	margin-bottom: 60px;
}
.people-say{
	color: #FFFFFF;
	background-color: #D74680FF;
}
.people-say .line{
	background-color: #B73C6DFF;
}
.people-say .quotes{
	margin-top: 70px;
	width: 100%;
	display: flex;
	flex-flow:  row wrap ;
	justify-content: space-between;
}
.people-say .quotes .cont{
	text-align: center;
	flex-grow: 1;
	flex-basis: 370px;
	display: flex;
	max-width: 540px;
	margin: 3px;
}
.people-say .quotes .box{
	margin-bottom: 140px ;
	padding-left: 45px;
	padding-right: 60px;
	width: calc(100% - 100px);
	text-align: left;
}
.people-say .quotes .cont .img {
	margin-left: 10px;
	width: 100px;
	height: 100px;
	border-radius:50%;
	background-image: url('../img/icon.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
}
.people-say .quotes .box p:nth-child(1){
	font-style: italic;
}
.people-say .quotes .box p:nth-last-child(1){
	color: #FFDD99FF;
}
.people-say .quotes .box h3{
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 24px;
	text-transform: uppercase;
}
.touch{
	color: #ffffff;
	background-color: #3C5499FF;
}
.touch .GET_IN_TOUCH{
	max-width: 750px;
}
.touch form{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.touch form  input,textarea{
	font-size:18px; 
	border: none;
	border-radius:5px;
	padding: 20px 25px;
	background-color: #273A71FF;
}
.touch form div  {
	max-width:870px;
	flex-grow: 1;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.touch form  input[type="text"],input[type="email"]{
	max-width: 370px;
	width: 100%;
	flex-grow: 1;
	margin:30px 5px 0 5px;
}
.touch form  input[type="submit"]{
	box-shadow: 0px 3px 1px rgba(20, 165, 140, 1);
	background-color: #17C2A4FF;
	border-radius: 4px;
	margin-bottom: 60px;
	text-transform: uppercase;
	

	width: 290px;
	height: 70px;
}
.touch form textarea{
	max-width: 810px;
	margin: 30px 5px 60px 5px;
	width: 100%;
	height: 200px;
	resize: none;
}
footer{
	background-color: #344B8EFF;
	display: flex;
	justify-content: center;
}
footer ul{
	display: inline-flex;
	list-style-type: none;
	flex-flow: row wrap;
	justify-content: center;
}
footer ul a{
	color: #ffffff;
	line-height: 110px;
	font-size: 24px;
	margin: 0 25px;
}
footer ul li .color{
	color: #30BAE7FF;
}
@media (max-width: 875px){
	.touch form  input[type="text"],input[type="email"]{
		max-width: 100%;
	}
}
@media (max-width: 766px){
	.portfolio .laptops{
		justify-content: center;
		margin: 0 20px;
	}
	.people-say .quotes{
		justify-content: center;
		margin: 0 20px;
	}
	.people-say .quotes .cont{
		flex-flow: wrap;
		justify-content: center;
	}
	.people-say .quotes .box{
		margin-top: 10px;
		text-align: center;
	}
}

